<div class="fw-share-form">

  <div class="fw-share-toggle">
    <button type="button" class="btn btn-lg btn-default btn-block" ng-click="toggleIsHigh()">
      <span class="fw-high" ng-show="isHigh">
        <i class="fa fa-smile-o"></i>
        <span class="fw-label">high</span>
      </span>
      <span class="fw-low" ng-show="!isHigh">
        <i class="fa fa-frown-o"></i>
        <span class="fw-label">low</span>
      </span>
    </button>
  </div>

  <div class="fw-share-input">
    <cuboid-input></cuboid-input>
  </div>

</div>
