<div class="cuboid">
  <form ng-submit="onFormSubmit()">
    <!-- #1 hover button -->
    <div class="cuboid-face cuboid-face-1">
      <div class="cuboid-text">Share</div>
    </div>

    <!-- #2 text input -->
    <div class="cuboid-face cuboid-face-2">
      <label class="submit-icon" ng-click="onFormSubmit()">
        <i class="fa fa-chevron-right"></i>
      </label>
      <input
        type="text"
        ng-model="shareText"
        class="text-input form-control input-lg"
        ng-focus="onTextFocus()"
        ng-blur="onTextBlur()"
        ng-keyup="onTextKeyup()"
        placeholder="Do share..."
        />
      <button type="submit" ng-hide="true"></button>
    </div>

    <!-- #3 loading message -->
    <div class="cuboid-face cuboid-face-3">
      <div class="cuboid-text loader">Making memories...</div>
    </div>

    <!-- #4 success message -->
    <div class="cuboid-face cuboid-face-4">
      <span class="reset-icon" ng-click="onResetClick()">
        <i class="fa fa-refresh"></i>
      </span>

      <div class="cuboid-text">Thanks, it means a lot.</div>
    </div>
  </form>
</div>
